<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link th:replace="fragments/admin-layout::link" />
  </head>
  <body>
    <div th:replace = "fragments/admin-layout::top-bar"></div>
    <div th:replace = "fragments/admin-layout::left-sidebar"></div>

    

    <div th:replace="fragments/admin-layout::script"></div>
  </body>
</html>
